@import url(https://fonts.googleapis.com/css?family=Tenor+Sans|PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic);

body {
    color: #000000;
    font-family: 'Tenor Sans', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    opacity: 0.7;
}

li {
    float: left;
}
li a, .loginbtn {
    display: inline-block;
    color: #D0EBF0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .login:hover .loginbtn {
    background-color: e0ecec;
}

li.login {
    display: inline-block;
}

.login-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.login-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.login-content a:hover {background-color: #f1f1f1}

.login:hover .login-content {
    display: block;
}

.menubtn {
    width: 45px;
}

.avatar {
    width: 288px;
    border-radius: 151px;
    border: 6px solid #A7DAE4;
    margin-left: 45px;
    margin-top: 45px;
    float: left;
}
.akumibot-name-text {
    float: left;
    font-size: 120px;
    margin-left: 50px;
    margin-top: 80px;
    color: #000000;
    opacity: 0.7;
}

.invite-button {
    float: left;
    margin-top: 230px;
    margin-left: -572px;
    background-color: #D0EBF0;
    color: #000000;
    opacity: 0.7;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 200px;
    line-height: 80px;
    max-width: 200px;
    min-height: 60px;
    min-width: 275px;
    border: 4px solid #D0EBF0;
    cursor: pointer
}
.teh-button {
    float: left;
    margin-top: 230px;
    margin-left: -270px;
    background-color: #D0EBF0;
    color: #000000;
    opacity: 0.7;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 200px;
    line-height: 80px;
    max-width: 200px;
    min-height: 60px;
    min-width: 275px;
    border: 4px solid #D0EBF0;
    cursor: pointer
}
.invite-buttons {
    float: left;
    margin-top: 230px;
    margin-left: -572px;
    background-color: #D0EBF0;
    color: #000000;
    opacity: 0.0;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 200px;
    line-height: 80px;
    max-width: 200px;
    min-height: 60px;
    min-width: 275px;
    border: 4px solid #D0EBF0;
    cursor: pointer
}
.teh-buttons {
    float: left;
    margin-top: 230px;
    margin-left: -270px;
    background-color: #D0EBF0;
    color: #000000;
    opacity: 0.0;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 200px;
    line-height: 80px;
    max-width: 200px;
    min-height: 60px;
    min-width: 275px;
    border: 4px solid #D0EBF0;
    cursor: pointer
}
.info-moderation {
    float: none;
    margin-top: 75px;
    margin-left: 248px;
    border: 8px solid #D0EBF0;
    background-color: #D0EBF0;
    width: 20%;
    height: 150px;
    border-radius: 5%;
    opacity: 0.7;
}
.info-welcome {
    float: none;
    margin-top: -154px;
    margin-left: 600px;
    border: 8px solid #D0EBF0;
    background-color: #D0EBF0;
    width: 20%;
    height: 150px;
    border-radius: 5%;
    opacity: 0.7;
}
.info-economy {
    float: none;
    margin-top: -154px;
    margin-left: 950px;
    border: 8px solid #D0EBF0;
    background-color: #D0EBF0;
    width: 20%;
    height: 150px;
    border-radius: 5%;
    opacity: 0.7;
}
.info-pvc {
    float: none;
    margin-top: 50px;
    margin-left: 248px;
    border: 8px solid #D0EBF0;
    background-color: #D0EBF0;
    width: 20%;
    height: 150px;
    border-radius: 5%;
    opacity: 0.7;
}
.info-reaction {
    float: none;
    margin-top: -155px;
    margin-left: 600px;
    border: 8px solid #D0EBF0;
    background-color: #D0EBF0;
    width: 20%;
    height: 150px;
    border-radius: 5%;
    opacity: 0.7;
}
.info-utility {
    float: none;
    margin-top: -155px;
    margin-left: 950px;
    border: 8px solid #D0EBF0;
    background-color: #D0EBF0;
    width: 20%;
    height: 150px;
    border-radius: 5%;
    opacity: 0.7;
}
.functional-text {
    float: none;
    margin-top: 500px;
    display: flex;
    justify-content: center;
    opacity: 0.7;
}
.company {
    margin-top: 200px;
    margin-left: 25px;
    opacity: 0.7;
}
.discord-srv-text {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    opacity: 0.7;
}
.discord-srv {
    display: flex;
    justify-content: center;
    margin-left: 563px;
}

.terms-of-service {
    margin-top: 10px;
}
.privaty-policy {
    margin-top: 10px;
}

.moderation-description {
    margin-right: 10px;
    opacity: 0.7;
    margin-bottom: 70px;
}
.welcome-description {
    margin-right: 10px;
    opacity: 0.7;
    margin-bottom: 70px;
}
.economy-description {
    margin-right: 10px;
    opacity: 0.7;
    margin-bottom: 70px;
}
.pvc-description {
    margin-right: 10px;
    opacity: 0.7;
    margin-bottom: 70px;
}
.reaction-description {
    margin-right: 10px;
    opacity: 0.7;
    margin-bottom: 70px;
}
.utility-description {
    margin-right: 10px;
    opacity: 0.7;
    margin-bottom: 70px;
}